<button class='btn btn-info btn-lg bottom-flat'>Categories</button>
<div class="well">
    <% @categories.each do |category| %>
    <div class="category">
        <%= link_to category.name, category_show_path(slug: category.slug) %>
    </div>
    <% end %>
</div>
