<h3>Someone contacted you using contact form</h3>
<p>
Name: <%= @contact.name %>
</p>
<p>
Email : <%= @contact.email %>
</p>
<p>
    Company: <%= @contact.company %>
</p>
<p>
    Message: <%= @contact.message %>
</p>
