<div class="jumbotron">
    <h1>Rails Development</h1>
    <p class="lead">
        We are a Rails development Company !
    </p>
    <p>
        Ruby-Rails-Javascript-Jquery-Backbone-html-css and many more...
    </p>
    <p><a class="btn btn-lg btn-success" href="#">Reach Us</a></p>
</div>

<div class="row marketing">
<% @posts.each_with_index do |p, index| %>
    <% if index == 0 or index == 3 %>
        <div class="col-lg-6">
    <% end %>
        <div class='well'>
            <h4><%= link_to p.title, url_for(controller: "blog_post", action: "show", id: p.id) %></h4>
            <p><%= p.short_content %></p>
        </div>
    <% if index == 2 or index == 5 %>
        </div>
    <% end %>
<% end %>
</div>
