<div class="jumbotron">
    <h1>Rails Development</h1>
    <p class="lead">
        We are a Ruby on Rails development Company !
    </p>
    <p>
        We work on Ruby on Rails - Javascript/Jquery - html - css 
    </p>
    <p><%= link_to "Reach Us", contactus_path, class: "btn btn-lg btn-success" %></p>
</div>

<div class="row marketing">
<% @posts.each_with_index do |p, index| %>
    <% if index == 0 or index == 3 %>
        <div class="col-lg-6">
    <% end %>
        <div class='well'>
            <h4><%= link_to p.title, url_for(controller: "blog_post", action: "show", slug: p.slug) %></h4>
            <p><%= p.short_content %></p>
        </div>
    <% if index == 2 or index == 5 %>
        </div>
    <% end %>
<% end %>
</div>
