<div class='well well-sm'>
    <h2> <%= @post.title %></h2>
</div>
<div class='well' style='min-height: 300px; '> 
    <%= @post.content.html_safe %>
</div>
<h2>Comments:</h2>
<% for comment in @post.comments %>
    <div class='well'>
        <%= comment.comment %>
        <h6> By <%= comment.name %> </h6>
    </div>
<% end %>
<% if @post.comments.count == 0 %>
    <h6> No comments for this post !</h6>
<% end %>

