/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*//= require bootstrap*/
//= require_tree

body {
    background-image: asset-url('background.jpg');
}
.container .bottom-flat {
    border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;
}


.header .nav li a { color: whitesmoke; }
.header .nav li a:hover { color: #428bca; font-weight: bold; }
.header { color: whitesmoke; }
.container .top-rounded { border-top-left-radius: 50px; border-top-right-radius: 50px; text-align: center; }
.container { width: 70%; }

.post-block { min-height: 100px; border-bottom: 1px solid rgb(218, 215, 243); margin-top: 5px; }
.post-block:last-child { border-bottom: none; }

@media only screen and (min-width: 200px) and (max-width: 350px) {
    .container { width: 97%; }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
    .container { width: 85%; }
}
@media only screen and (max-width: 600px) {
    .addthis_floating_style.addthis_counter_style { display: none; }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .container #addthis-show-post .addthis_floating_style.addthis_counter_style { margin-left: -35px; }
}

.addthis_floating_style.addthis_counter_style { width: 70px; }
.footer { 
    color: whitesmoke;
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-top:30px;
    padding: 20px;
}

