// Place all the styles related to the BlogPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title a{ color: brown; font-size: 14pt; }
.read-more a { color: brown; font-weight: bold; }
.post-block { padding-bottom: 30px; }
