// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-post-loader { 
    background-image: asset-url('horizontal-loader.gif'); 
    position: relative; left: 33%; top: 100px;
    height: 20px; width: 225px;
}

