<button class='btn btn-info btn-lg bottom-flat'>Our Work</button>
<div class="well">
    Our opensource apps include:
    <ul>
        <li><a target="_blank" href="http://agencybox.railsfab.com" >AgencyBox</a></li>
        <li><a href="http://www.railsfab.com">Railsfab</a></li>
        <li>Worktracker</li>
    </ul>
    More app to come here..
</div>
