<button class='btn btn-info btn-lg bottom-flat'>Our Work</button>
<div class="well">
    Our opensource apps include AgencyBox, this blog, worktracker. This page will be updated often with the apps we build. More information will be updated here.
</div>
